body{
    color: #40514E;
   padding-bottom: 10px;
    margin: 0;
   text-align: center;
   font-family:Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;

  
}
hr{
    border: dotted 6px;
    border-color: #EAF6F6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100PX ;
}
.top-container{
    background-color:#BFEAF5 ;
    padding-top: 50px;

}
.intro{
    width: 30%;
    margin: auto;
}
.middle-container{
    margin: 100px auto;
    
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.mine{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
span{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    bottom:250px;
    left: 250px;
}
.top-cloud{
   
    position: absolute;
    right: 300px;
    top: 40px;
   
    
}
   
h1{

    font-family: 'Sacramento', cursive; 
    font-size:5rem ;
    margin: 50px auto 0px auto;
    color: #66BFBF;
    line-height: 2;
    
    
}
p{
   font-family:  'Merriweather Sans', sans-serif;
   line-height: 2;
  
   
  
}
a{
   color: #11999E ;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: 50px 20px;
   text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.hambi{
    text-align:left;
}
.dhanu{

  
  margin-top: 10px;

}
.code{
    border-radius: 200px;
    width: 35%;
    float: left;
    margin-right: 30px;
    

}
.challenge{
    border-radius: 500px;
    width: 35%;
    float: right;
    margin-left: 30px;
    
    
}


h2{
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    color: #11999E;
  
}

    

.skill-row{
    width: 50%;
    margin: 100px auto 100px ;
    text-align: left;
   
}
.massege{
    width: 40%;
    margin: 40px auto 40px auto;
}
.btn {
    background:#11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4,#11999e);
    background-image: -moz-linear-gradient(top, #11cdd4,#11999e);
    background-image: -ms-linear-gradient(top,#11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4,#11999e);
    background-image: linear-gradient(to bottom,#11cdd4,#11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top,#30e3cb,#2bc4ad);
    background-image: -moz-linear-gradient(top,#30e3cb,#2bc4ad);
    background-image: -ms-linear-gradient(top,#30e3cb,#2bc4ad);
    background-image: -o-linear-gradient(top,#30e3cb,#2bc4ad);
    background-image: linear-gradient(to bottom,#30e3cb,#2bc4ad);
    text-decoration: none;
    
  }